/* Daemon stylesheet */
body {
    background: rgb(70,70,70);
    background: rgba(0,0,0,0.80);
    color: white;
    margin: 15px;
}

body.empty, .progress.empty  {
    margin: 0;
    padding: 0;
}

#content {
    padding: 15px;
}

.deck {
    padding: 5px;
    background: rgb(50,50,50);
    background: rgba(255,255,255,0.10);
    padding-left: 15px;
}

.col.s3 {
    transition: all;
    min-height: 92px;
    padding: 15px;
}

.col.s3 > i.material-icons {
    font-size: 48px;
}

.col.s3:hover {
    transition: all 1s;
    background: rgb(50,50,50);
    background: rgba(255,255,255,0.10)
}

p.header-icon {
    text-transform: uppercase;
}

p.header-icon > i.material-icons {
    font-size: 24px;
}